body.plain {
	background: none  !important;
	border: 0  !important;
	padding: 0 !important;
	margin: 0  !important;
}
.sticky-top,
body.plain .sticky-top {
	display: none !important;
}
body.plain .roster-image {
	width: auto;
	height: 100vh;
	max-height: 100%;
	max-width: 100%;
}
