/* line 13, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
body {
  background: #333;
  color: #fdfde3;
  font-family: 'Ubuntu', sans-serif !important; }
  /* line 18, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body a {
    color: #dfab2d; }
    /* line 20, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body a:active, body a:visited {
      color: #dfab2d; }
    /* line 24, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body a:hover {
      color: #b48a25; }
  /* line 29, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .button {
    background-color: #dfab2d;
    color: #fff; }
    /* line 33, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button:active, body .button:visited {
      background-color: #dfab2d;
      color: #fff; }
    /* line 38, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button:hover {
      background-color: #b48a25;
      color: #fff; }
    /* line 42, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button.primary {
      background-color: #dfab2d;
      color: #fff; }
      /* line 46, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.primary:active, body .button.primary:visited {
        background-color: #dfab2d;
        color: #fff; }
      /* line 51, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.primary:hover {
        background-color: #b48a25;
        color: #fff; }
    /* line 56, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button.secondary {
      background-color: #fdfde3;
      color: #333; }
      /* line 59, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.secondary:active, body .button.secondary:visited {
        background-color: #fdfde3;
        color: #333; }
      /* line 64, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.secondary:hover {
        background-color: #e4e4ce;
        color: #333; }
  /* line 70, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body select,
  body input[type=text],
  body input[type=number] {
    background-color: #fdfde3; }
  /* line 78, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body header {
    background: #111;
    padding: 0 1rem .5rem 1rem;
    color: #fdfde3;
    margin: 0 0 1rem 0; }
    /* line 83, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body header h1 {
      font-size: 2rem;
      padding: 0;
      margin: 0; }
      /* line 84, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body header h1 a {
        color: #fdfde3; }
    /* line 91, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body header h2 {
      font-size: 1rem;
      padding: 0;
      margin: 0; }
      /* line 92, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body header h2 a {
        color: #fdfde3; }
  /* line 101, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body footer {
    background: #111;
    padding: 1rem;
    margin: 1rem 0 0 0;
    color: #fdfde3; }
  /* line 107, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body label {
    color: #fdfde3; }
  /* line 110, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .fieldset {
    color: #fdfde3; }
    /* line 112, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .fieldset legend {
      background: #333;
      color: #fdfde3;
      padding: 0 1rem;
      font-size: 1.4rem;
      font-weight: 500; }
  /* line 121, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .small-text {
    font-size: .7em; }
  /* line 124, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 130, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .sidebar-menu li a .title {
      font-size: 20px; }
    /* line 133, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .sidebar-menu li a .subtitle {
      font-size: 11px; }
  /* line 139, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .mech-status-bar {
    text-align: right;
    margin-bottom: 5px;
    font-size: 12px; }
  /* line 144, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .next-button {
    margin: 2rem 0 0 0;
    float: right; }
  /* line 148, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .mech-tro {
    background: #333;
    color: #fdfde3;
    width: 100%;
    border: none;
    font-size: 12px; }
    /* line 155, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tbody {
      border: none; }
    /* line 160, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr td, body .mech-tro tr th {
      margin: auto;
      padding: 0 5px 0 0;
      background: #333;
      color: #fdfde3; }
    /* line 167, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr th {
      vertical-align: bottom;
      font-weight: 700; }
    /* line 171, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr td {
      vertical-align: top; }

/* line 178, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
.ng-cloak {
  display: none; }

/* line 181, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
.no-outline {
  outline: 0 !important; }

/* line 185, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
button.radius, .button.radius {
  border-radius: 3px; }

/* line 188, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
button.round, .button.round {
  border-radius: 1000px; }
