/* line 16, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
body {
  background: #333;
  color: #fdfde3;
  font-family: 'Ubuntu', sans-serif !important;
  padding: .5rem 0 2rem 0; }
  /* line 22, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body a {
    color: #dfab2d; }
    /* line 24, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body a:active, body a:visited {
      color: #dfab2d; }
    /* line 28, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body a:hover {
      color: #b48a25; }
  /* line 32, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .dev-note {
    color: #fff;
    background: rgba(0, 33, 0, 0.25);
    border-radius: 3px;
    margin: 0 0 1rem 0;
    padding: 3px 10px 3px 45px;
    overflow: hidden;
    position: relative;
    min-height: 90px; }
    /* line 41, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .dev-note::before {
      content: 'Dev Note';
      background: green;
      color: #fff;
      transform: rotate(270deg);
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 3px 3px 3px 8px;
      left: -435px;
      bottom: 435px;
      width: 900px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px; }
  /* line 60, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .button {
    background-color: #dfab2d;
    color: #fff;
    outline: none !important; }
    /* line 65, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button:active, body .button:focus, body .button:visited {
      background-color: #dfab2d;
      color: #fff; }
    /* line 71, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button:hover {
      background-color: #b48a25;
      color: #fff; }
    /* line 76, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button.primary {
      background-color: #dfab2d;
      color: #fff; }
      /* line 80, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.primary:active, body .button.primary:focus, body .button.primary:visited {
        background-color: #dfab2d !important;
        color: #fff !important; }
      /* line 86, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.primary:hover {
        background-color: #b48a25;
        color: #fff; }
    /* line 92, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .button.secondary {
      background-color: #fdfde3;
      color: #333; }
      /* line 95, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.secondary:active, body .button.secondary:focus, body .button.secondary:visited {
        background-color: #fdfde3;
        color: #333; }
      /* line 101, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .button.secondary:hover {
        background-color: #e4e4ce;
        color: #333; }
  /* line 107, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body select,
  body input[type=text],
  body input[type=number] {
    background-color: #fdfde3;
    outline: none; }
  /* line 116, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body header {
    background: #111;
    padding: 0 1rem .5rem 1rem;
    color: #fdfde3;
    margin: 0 0 1rem 0; }
    /* line 121, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body header h1 {
      font-size: 2rem;
      padding: 0;
      margin: 0; }
      /* line 122, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body header h1 a {
        color: #fdfde3; }
    /* line 129, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body header h2 {
      font-size: 1rem;
      padding: 0;
      margin: 0; }
      /* line 130, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body header h2 a {
        color: #fdfde3; }
  /* line 138, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body h1, body h2, body h3, body h4 {
    color: #dfab2d; }
  /* line 141, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body footer {
    background: #111;
    padding: 1rem;
    margin: 1rem 0 0 0;
    color: #fdfde3; }
  /* line 147, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body label {
    color: #fdfde3; }
    /* line 149, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body label [type=checkbox], body label [type=file], body label [type=radio] {
      margin-bottom: 0; }
  /* line 153, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .fieldset {
    color: #fdfde3;
    border-color: #dfab2d; }
    /* line 156, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .fieldset legend {
      background: #333;
      color: #dfab2d;
      padding: 0 1rem;
      font-size: 1.1rem;
      font-weight: 500; }
  /* line 165, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body strong {
    color: #dfab2d; }
  /* line 168, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .small-text {
    font-size: .7em; }
  /* line 171, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .worksheet-area {
    margin: 0 0 40px 0;
    overflow: hidden; }
  /* line 175, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .mech-summary {
    margin: 0 0 40px 0; }
  /* line 178, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .sidebar-menu {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0; }
    /* line 184, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .sidebar-menu li a .title {
      font-size: 20px; }
    /* line 187, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .sidebar-menu li a .subtitle {
      font-size: 11px; }
  /* line 193, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .mech-status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111;
    border-top: 2px solid #dfab2d;
    text-align: left;
    padding: 3px 0;
    font-size: 12px;
    text-align: right; }
  /* line 205, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .next-button {
    margin: 2rem 0 0 0;
    float: right; }
  /* line 209, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .previous-button {
    margin: 2rem 0 0 0;
    float: left; }
  /* line 213, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .mech-tro {
    background: #333;
    color: #fdfde3;
    width: 100%;
    border: none;
    font-size: 12px; }
    /* line 220, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tbody {
      border: none; }
    /* line 223, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro thead {
      background: transparent !important;
      border: 0 !important; }
    /* line 228, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr td, body .mech-tro tr th {
      margin: auto;
      padding: 0 5px 0 0;
      background: #333;
      color: #fdfde3; }
    /* line 235, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr th {
      vertical-align: bottom;
      font-weight: 700; }
    /* line 239, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .mech-tro tr td {
      vertical-align: top; }
  /* line 244, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .equipment-list {
    background: transparent;
    border: 0 !important; }
    /* line 247, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .equipment-list tbody {
      background: transparent !important;
      border: 0 !important; }
      /* line 250, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .equipment-list tbody tr {
        padding: 0;
        margin: 0;
        background: transparent !important; }
        /* line 255, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
        body .equipment-list tbody tr td {
          padding: 2px;
          margin: 0;
          text-align: left; }
          /* line 259, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
          body .equipment-list tbody tr td .button {
            margin: 0; }
    /* line 265, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .equipment-list thead {
      background: transparent !important;
      border: 0 !important; }
      /* line 268, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .equipment-list thead tr {
        padding: 0;
        margin: 0;
        background: transparent !important; }
        /* line 272, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
        body .equipment-list thead tr th {
          padding: 0;
          margin: 0;
          color: #dfab2d;
          text-align: left;
          border-bottom: 1px solid #dfab2d; }
  /* line 283, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .armor-chart {
    background: transparent;
    border: 0 !important; }
    /* line 286, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .armor-chart tbody {
      background: transparent !important;
      border: 0 !important; }
    /* line 290, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .armor-chart thead {
      background: transparent !important;
      border: 0 !important; }
    /* line 294, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .armor-chart tr {
      background: transparent !important; }
      /* line 296, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .armor-chart tr td {
        width: 20%;
        margin: 0;
        vertical-align: top;
        text-align: center;
        padding: 1rem 0.5rem;
        border: 1px solid #dfab2d !important;
        background: rgba(0, 0, 0, 0.25); }
        /* line 304, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
        body .armor-chart tr td.blank {
          background: transparent !important;
          border: none !important; }
  /* line 312, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .sidebar-header {
    margin: 0;
    padding: 0; }
    /* line 315, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .sidebar-header h4 {
      font-weight: 700;
      padding: 0;
      font-size: 1rem;
      text-align: center; }
  /* line 322, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
  body .critical-assignment-container {
    margin: 0 0 10px 0;
    padding: 0; }
    /* line 325, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
    body .critical-assignment-container li {
      background: rgba(0, 0, 0, 0.25);
      display: block;
      margin: 0;
      padding: 0 5px;
      border: 1px solid #dfab2d;
      border-radius: 5px;
      margin: 2px;
      font-size: 11px; }
      /* line 337, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-placeholder {
        display: none !important; }
      /* line 340, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height- {
        border: 1px solid #fdfde3; }
        /* line 342, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
        body .critical-assignment-container li.critical-height- .card-title {
          display: block;
          height: 15px; }
      /* line 347, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-1 .card-title {
        display: block;
        height: 15px;
        margin: 2px 2px 2px 2px; }
      /* line 352, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-2 .card-title {
        display: block;
        height: 30px;
        margin: 2px 2px 4px 2px; }
      /* line 357, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-3 .card-title {
        display: block;
        height: 45px;
        margin: 2px 2px 6px 2px; }
      /* line 362, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-4 .card-title {
        display: block;
        height: 60px;
        margin: 2px 2px 8px 2px; }
      /* line 367, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-5 .card-title {
        display: block;
        height: 75px;
        margin: 2px 2px 10px 2px; }
      /* line 372, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-6 .card-title {
        display: block;
        height: 90px;
        margin: 2px 2px 12px 2px; }
      /* line 377, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-7 .card-title {
        display: block;
        height: 105px;
        margin: 2px 2px 14px 2px; }
      /* line 382, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-8 .card-title {
        display: block;
        height: 120px;
        margin: 2px 2px 16px 2px; }
      /* line 387, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-9 .card-title {
        display: block;
        height: 135px;
        margin: 2px 2px 18px 2px; }
      /* line 392, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
      body .critical-assignment-container li.critical-height-10 .card-title {
        display: block;
        height: 150px;
        margin: 2px 2px 20px 2px; }

/* line 400, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
.align-bottom {
  vertical-align: bottom !important; }

/* line 404, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
.ng-cloak {
  display: none; }

/* line 407, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
.no-outline {
  outline: 0 !important; }

/* line 411, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
button.radius, .button.radius {
  border-radius: 3px; }

/* line 414, /srv/www/jdgwf.com/bt/public_html/css/src/style.scss */
button.round, .button.round {
  border-radius: 1000px; }
