$fontSize: 14px;

$fontColor: #fdfde3;
$headerFooterBackground: #111;
$headerFontColor: #fff;
$bodyBackground: #333;

$primaryBG: #dfab2d;
$primaryBGHover: #b48a25;
$primaryTextColor: #fff;

$darkenedBG: rgba( 0, 0, 0, .25);
$darkenedGreenBG: rgba( 0, 66, 0, .25);

$secondaryBG: #fdfde3;
$secondaryBGHover: #e4e4ce;
$secondaryTextColor: #333;

body {
	background: $bodyBackground;
	color: $fontColor;
	font-family: 'Ubuntu', sans-serif !important;
	padding: 3.5rem 0 3rem 0;

	a {
		color: $primaryBG;
		&:active,
		&:visited {
			color: $primaryBG;
		}
		&:hover {
			color: $primaryBGHover;
		}
	}

	 .no-lr-padding {
		padding-right: 0 !important;
		padding-left: 0 !important;
	 }

	 .no-l-padding {
		padding-left: 0 !important;
	 }
	 .no-4-padding {
		padding-right: 0 !important;
	 }
	.main-menu {
		a {
			font-size: 1.8rem;
		}

	}
		.bt-logo {
			height: 1.6rem;
			margin: .5rem 0 0 0;
		}
	.no-bottom-margin {
		margin-bottom: 0 !important;
	}

	table {
		background: $headerFooterBackground;
		color: $primaryTextColor;
		width: 100%;

		border: none;
		font-size: $fontSize;
		tbody {
			border: none;
			padding: 3px;
		}
		thead {
			background: transparent !important;
			border: 0 !important;
			padding: 3px;
		}
		tr {
			td, th {
				margin: 0;
				padding: 2px 3px;
				background: $bodyBackground;
				border-bottom: 1px solid $headerFooterBackground;
				color: $primaryTextColor;
				text-align: left;
			}
			th {
				vertical-align: bottom;
				font-weight: 700;
			}
			td {
				vertical-align: top;
				&.button-container {
					width: 60px;
					height: 30px;
					button {
						margin: 0;
					}
				}
			}
			&.right-answer {
				background: #090;
				color: #fff;
				td {
					background: #090;
					color: #fff;
				}
			}
			&.wrong-answer {
				background: #900;
				color: #fff;
				td {
					background: #900;
					color: #fff;
				}
			}
		}
		&.installed-weapons {
			background: transparent;
			tbody {
				background: transparent;
				margin: 0;
				padding: 0;
				tr {
					padding: .25rem;
					border: 1px solid $primaryBG;
					background: $bodyBackground;
					color: $fontColor;
					margin-bottom: .25em !important;
					td {
						border: none;
					}
				}
			}

		}
		&.gear-list {
			background: transparent;
			tbody {
				margin: 0;
				padding: 0;
				tr {
					border-bottom: 3px solid $bodyBackground;
					background: $headerFooterBackground;
					color: #fff;
					margin: 0 0 3px 0;
					td {
						background: transparent !important;
						color: #fff;
						.equip-message {
							font-style: italic;
							color: $fontColor;
						}
					}

					&.no-bottom-border {
						border-bottom: 0 !important;
					}
				}
			}
		}
	}

	.dev-note {
		color: #fff;
		background: $darkenedGreenBG;
		border-radius: 5px;
		margin: 0 0 1rem 0;
		padding: 3px 10px 3px 45px;
		overflow: hidden;
		position: relative;
		min-height: 90px;
		border: solid 2px green;
		&::before {
			content: 'Dev Note';
			background: green;
			color: #fff;
			transform: rotate(270deg);
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    padding: 3px 3px 3px 8px;
			left: -435px;
			bottom: 435px;
			width: 900px;
    		border-bottom-left-radius: 3px;
    		border-top-left-radius: 3px;
		}
	}
	.dev-note-header {

	}
	.button {
		background-color: $primaryBG;
		color: $primaryTextColor;
		outline: none !important;

		&:active,
		&:focus,
		&:visited {
			background-color: $primaryBG;
			color: $primaryTextColor;
		}
		&:hover {
			background-color: $primaryBGHover;
			color: $primaryTextColor;
		}

		&.primary {
			background-color: $primaryBG;
			color: $primaryTextColor;

			&:active,
			&:focus,
			&:visited {
				background-color: $primaryBG !important;
				color: $primaryTextColor !important;
			}
			&:hover {
				background-color: $primaryBGHover;
				color: $primaryTextColor;
			}
		}

		&.secondary {
			background-color: $secondaryBG;
			color: $secondaryTextColor;
			&:active,
			&:focus,
			&:visited {
				background-color: $secondaryBG;
				color: $secondaryTextColor;
			}
			&:hover {
				background-color: $secondaryBGHover;
				color: $secondaryTextColor;
			}
		}
	}
	select,
	input[type=text],
	input[type=number] {
		background-color: $secondaryBG;
		outline: none;
	}

	.no-margins {
		margin: 0 !important;
	}

	select {
		/*for firefox*/
		-moz-appearance: none;
		/*for chrome*/
		-webkit-appearance:none;
	    padding-right: 1rem;
	    background-position: right -.75rem center;
	    min-width: 3rem;
	}

	/*for IE10*/
	select::-ms-expand {
		display: none;
	}


	h1, h2, h3, h4 {
		color: $primaryBG;
	}
	footer {
		background: $headerFooterBackground;
		padding: 1rem;
		margin: 1rem 0 0 0;
		color: $fontColor;
	}
	label {
		color: $fontColor;
		[type=checkbox], [type=file], [type=radio] {
			margin-bottom: 0;
		}
	}
	.text-right {
		text-align: right !important;
	}
	.fieldset {
		color: $fontColor;
		border: 2px solid $primaryBG;
		margin: 0 0 1rem 0;
		border-radius: 10px;
		background: $headerFooterBackground;
		padding: .5rem 1rem;
		legend {
			background: $primaryBG;
			border: 2px solid $primaryBG;
			border-radius: 10px;
			color: #fff;
			padding: 0 1rem;
			font-size: 1.1rem;
			font-weight: 500;
			i {
				color: #fff;
			}
		}

	}
	.margin-left {
		margin-left: 2px;
	}
	strong {
		color: $primaryBG;
	}

	.small-text {
		font-size: .7em;
	}
	.worksheet-area {
		margin: 0 0 40px 0;
		overflow: hidden;
	}
	.mech-summary {
		margin: 0 0 40px 0;
	}
	.sidebar-menu {
		list-style: none;
		margin: 0 0 40px 0;
		padding: 0;
		li {
			a {
				.title {
					font-size: 20px;
				}
				.subtitle {
					font-size: 11px;
				}
			}
		}
	}

	.sticky-top {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: .25rem;
		background: $headerFooterBackground;
		border-bottom: solid 2px $primaryBG;
		color: #fff;
		height: 3rem;
		z-index: 100000;
	}
	.top-bar-padding {
		height: 3em;
		margin: 0 0 .5em 0;
	}

	.mech-status-bar {
		position: fixed;
		z-index: 999;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #111;
		border-top: 2px solid $primaryBG;
		text-align: left;
		padding: 3px 0;
		font-size: 12px;
		text-align: right;
	}
	.next-button {
		margin: 2rem 0 0 0;
		float: right;
	}
	.previous-button {
		margin: 2rem 0 0 0;
		float: left;
	}
	.mech-tro {
		background: $bodyBackground;
		color: $fontColor;
		width: 100%;

		border: none;
		font-size: 12px;
		tbody {
			border: none;
		}
		thead {
			background: transparent !important;
			border: 0 !important;
		}
		tr {
			td, th {
				margin: auto;
				padding: 0 5px 0 0;
				background: $bodyBackground;
				color: $fontColor;

			}
			th {
				vertical-align: bottom;
				font-weight: 700;
			}
			td {
				vertical-align: top;
			}
		}
	}
	.equipment-list {
		background: $headerFooterBackground;
		border: 0 !important;
		tbody {
			background: $headerFooterBackground;
			border: 0 !important;
			tr {
				padding: 0;
				margin: 0;
				background: $headerFooterBackground;

				td {
					background: $headerFooterBackground;
					padding: 2px;
					margin: 0;
					text-align: left;
					.button {
						margin: 0;

				}
				}
				&.grayed-out {
					td {
						color: #999 !important;
					}
				}
			}
		}
		thead {
			background: $headerFooterBackground;
			border: 0 !important;
			tr {
				padding: 0;
				margin: 0;
				background: $headerFooterBackground;
				th {
					background: $headerFooterBackground;
					padding: 0;
					margin: 0;
					color: $primaryBG;
					text-align: left;
					border-bottom: 1px solid $primaryBG;
				}
			}
		}

	}
	.armor-chart {
		background: transparent;
		border: 0 !important;
		tbody {
			background: transparent !important;
			border: 0 !important;
		}
		thead {
			background: transparent !important;
			border: 0 !important;
		}
		tr {
			background: transparent !important;
			td {
				width: 20%;
				margin: 0;
				vertical-align: top;
				text-align: center;
				padding: 1rem 0.5rem;
				border: 1px solid $primaryBG !important;
				background: $darkenedBG;
				&.blank {
					background: transparent !important;
					border: none !important;
				}

			}
		}
		select {
			width: auto !important;
		}
	}
	.sidebar-header {
		margin: 0;
		padding: 0;
		h4 {
			font-weight: 700;
			padding: 0;
			font-size: 1rem;
			text-align: center;
		}
	}
	.critical-assignment-container {
		margin: 0 0 10px 0;
		padding: 0;
		li {
			background: $darkenedBG;
			display: block;
			margin: 0;
			padding: 0 5px;
			border: 1px solid $primaryBG;
			border-radius: 5px;
			margin: 2px;
			font-size: 11px;
			&:nth-child(7) {
				margin-top: 17px;
			}
			&.critical-placeholder {
				display: none !important;
			}
			&.critical-height- {
				border: 1px solid $secondaryBG;
				.card-title {
					display: block;
					height: 15px;
				}
			}
			&.critical-height-1 .card-title {
				display: block;
				height: 15px;
				margin: 2px 2px 2px 2px;
			}
			&.critical-height-2 .card-title {
				display: block;
				height: 30px;
				margin: 2px 2px 4px 2px;
			}
			&.critical-height-3 .card-title {
				display: block;
				height: 45px;
				margin: 2px 2px 6px 2px;
			}
			&.critical-height-4 .card-title {
				display: block;
				height: 60px;
				margin: 2px 2px 8px 2px;
			}
			&.critical-height-5 .card-title {
				display: block;
				height: 75px;
				margin: 2px 2px 10px 2px;
			}
			&.critical-height-6 .card-title {
				display: block;
				height: 90px;
				margin: 2px 2px 12px 2px;
			}
			&.critical-height-7 .card-title {
				display: block;
				height: 105px;
				margin: 2px 2px 14px 2px;
			}
			&.critical-height-8 .card-title {
				display: block;
				height: 120px;
				margin: 2px 2px 16px 2px;
			}
			&.critical-height-9 .card-title {
				display: block;
				height: 135px;
				margin: 2px 2px 18px 2px;
			}
			&.critical-height-10 .card-title {
				display: block;
				height: 150px;
				margin: 2px 2px 20px 2px;
			}
			&.selectedItem {
				background: $secondaryBG !important;
				color: $secondaryTextColor !important;
			}
			&.unmovable {
				color: #fff !important;
				background: #333;
				border-color: #333;
			}
		}
	// 	.as-sortable-dragging + li {
	// 	//	&.critical-height-1 {
	// 			display: none;
	// 	//	}

	// 	}
	}
}
.align-bottom {
	vertical-align: bottom !important;
}

.ng-cloak {
	display: none;
}
.no-outline  {
	outline: 0 !important;
}

button.radius, .button.radius {
    border-radius: 3px;
}
button.round, .button.round {
    border-radius: 1000px;
}

.summary-block {
	background: $bodyBackground;
	padding: .25rem;

}
.mech-tro {
		tr {
			td, th {
				border: 0;
			}
		}
}


.as-card {
	background: #fff;
	border: solid .5vw #000;
	margin: 0 5%;
	color: #000;
	font-size: 1.7vw;
	position: relative;
	strong {
		color: #000 !important;
	}
	&.wrecked {
		background: #600 !important;
		color: #fff;
		h3, h2, h4 {
			color: #fff;
		}
		.shaded-box {
			color: #333;
		}
	}
	h3, h2, h4 {
		color: #333;
	}

	.bt-logo {
		font-size: 3vw;
		border-top: 6px solid  $headerFooterBackground;
		border-left: 6px solid  $headerFooterBackground;
		display: inline-block;
		padding: 0 1vw 0 3vw;
		height: auto;
		margin: 0;
		border-top-left-radius: 7vw;
		background: $headerFooterBackground;
		height: 5vw;
		img {
			height: 2.5vw;
			margin: 0;
		}
	}

	.as-stats-label {
		height: 5vw;
		font-size: 3vw;
		border-top: 6px solid $headerFooterBackground;
		border-right: 6px solid $headerFooterBackground;
		display: inline-block;
		padding: 0 3vw 0 1vw;
		background: $headerFooterBackground;
		color: #fff;
		margin: 0;
		border-top-right-radius: 7vw;
	}
	.decorative-bolt {
		position: absolute;
		z-index: 0;
		font-size: 2.75vw;
		height: 3vw;
		width: 3vw;
		text-align: center;
		background: #CBCCCE;
		color: #999;
		display: inline-block;
		border-radius: 2vw;
		padding: 0;
		margin: 0;
		.fa {
			position: absolute;
			top: .125vw;
			left: .45vw;
		}
	}

	.bolt-1 {
		top: 1vw;
		right: 20vw;
		transform: rotate(31deg);
		z-index: 2000;
	}

	.bolt-2 {
		top: 5vw;
		right: 1vw;
		transform: rotate(72deg);
		z-index: 2000;
	}

	.bolt-3 {
		bottom: 7vw;
		left: 2vw;
		transform: rotate(14deg);
	}

	.bolt-4 {
		bottom: 1vw;
		left: 47vw;
		transform: rotate(53deg);
	}

	.point-box {
		font-size: 3vw;
		border-left: 6px solid #333;
		border-bottom: 6px solid #333;
		display: inline-block;
		padding: 0 1vw 0 3vw;
		border-bottom-left-radius: 7vw;
	}



	.mech-image {
		max-height: 90%;
		max-width: 100%;
		position: absolute;
		right: 4vw;
		top: 2vw;
		z-index: 0;
	}

	.content {
		z-index: 1000;
		position: relative;
		h3 {
			margin: 0;
			padding: 0;
			line-height: 4vw;
			font-size: 4vw;
		}
		h4 {
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			line-height: 3vw;
			font-size: 3vw;
		}

		.heat-scale {
			position: relative;
			background: #58595B;
			border: .5vw solid #000;
			border-radius: 2.5vw;
			margin: 0 1vw 0 0;
			padding: 0;
			display: inline-block;
			overflow: hidden;
			float: right;

			li {
				display: block;
				float: left;
				list-style: none;
				margin: 0;
				label {
					display: block;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
				}
				.heat-label {
					color: #fff;
					font-size: 2.5vw;
					line-height: 4vw;
					border-left: .5vw solid #000;
					padding: 0 .8vw;
					display: inline-block;
					margin: 0;
					cursor: pointer;
				}
				input[type=checkbox],
				input[type=radio] {
					display: none;

					&:checked ~ .heat-label   {
						background: #c00;
						&.green {
							background: #0c0;
						}

						&.yellow {
							background: #cb0;
						}

						&.orange {
							background: #ec5710;
						}

						&.red {
							background: #c00;
						}

						&.black {
							background: #000;
						}
					}
				}
				&:first-child {
					.heat-label {
						border-left: none !important;
					}
				}
			}



		}




		.damage-label {
			transform: rotate(-90deg);
	    	text-transform: uppercase;
			position: absolute;
			left: -0.5vw;
			top: 2.5vw;
			font-size: 1.2vw;
		}

		input[type=checkbox] {

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			outline: none !important;

			margin: 0 .25vw 0 0;
			height: 2.0vw;
			width: 2.0vw;
			padding: 0;

			border: solid .125vw #000;

			background: #fff;
			border-radius: 1.5vw;

			&.structure {
				background: #666;
			}
			&:checked {
				background-color: #c00 !important;
			}
		}
		.shaded-box {
			z-index: 1000;
			position: relative;
			background: #cbccce;
			border: .5vw solid #000;
			border-radius: 2.5vw;
			padding: .5vw 1.5vw;
			margin-bottom: 1vw;
			&.transparent-box {
				background: rgba(200,200,200,.8);
			}
			input[type=checkbox] {
				cursor: pointer;
				margin: 0 .25vw 0 0;
				height: 2.5vw;
				width: 2.5vw;
			}
			// &.crit-box {
			// 	input[type=checkbox] {
			// 		height: 2.5vw;
			// 		width: 2.5vw;
			// 	}
			// }
			h5 {
				font-size: 2vw;
			}
			&.uppercase {
				text-transform: uppercase;
			}
			&.smaller-font {
				font-size:  1.3vw;
			}
			.no-lr-padding {
				padding-right: 0;
				padding-left: 0;
			}
		}
		.uppercase {
			text-transform: uppercase !important;
		}

		.no-lr-padding {
			padding-right: 0;
			padding-left: 0;
		}
		.hs-top-padding {
			padding-top: .5vw;
		}
	}
	.plain-table {
		background: #cbccce !important;
		color: #333 !important;
		border: 0px !important;
		padding: 0 !important;
		margin: 0 !important;
		tbody {
			border: 0px !important;
			background: #cbccce !important;
		}
		td {
			padding: 0 0 0 .5vw !important;

			color: #333 !important;
			margin: 0 !important;
			background: #cbccce !important;
			border: 0px !important;
		}
	}
	.full-width {
		width: 100%;
	}
}
.damage-select {
	position: relative;

	z-index: 1000;
	margin-top: 1vw;
	background: #c11;
	color: #fff !important;

	border: solid 5px #333;
	padding: .5vw 1vw;
	border-radius: 5px;
	text-align: center;
	margin: -.5vw 0 .5vw 0;
	button {
		text-transform: none !important;
	}
	h4 {
		text-transform: none !important;
		margin: 0 0 5px 0 !important;
		color: #fff;
	}
}
.text-center {
	text-align: center !important;
}
.please-wait {
	position: absolute;
	z-index: 999999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 40% 10%;
	text-align: center;
	color: #fff;
	font-size: 3vw;
	background: rgba(0,0,0,.7);
}
.no-wrap-whitespace  {
	white-space: nowrap;
}

.landscape-view-please {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333;
	color: #fff;
	z-index: 999999;
	display: none;
	position: fixed;
	padding: 45% 5%;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.color-red {
	color: #e00 !important;
}

.color-green {
	color: #0e0 !important;
}

.color-blue {
	color: #00e !important;
}


.modal-container {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: scroll;
	.reveal {
		color: $headerFontColor;
		background: $headerFooterBackground;
		border: 2px solid $headerFontColor;
		border-radius: 1rem;
		width: 80%;
		// max-width: 100%;
		display: block;
		top: 30px;
		left: 50%;
		margin-top: 3rem;
		margin-left: -40%;
		margin-bottom: 30px;
		label {
			color: $headerFontColor;
		}
	}

}

.bbcode-export {
	width: 100%;
	height: 1000px;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.reveal-modal{
    position : fixed;
}
// yeah, yeah bad pun is punny
.even-modaler {
	z-index: 2000 !important;
}

@media only screen and (max-device-width: 400px) and (orientation: portrait) {
	.landscape-view-please {
		display: block;
	}
}
