@import "../../common.scss";

.topmenu {
    position: relative;
    z-index: 1000;
    ul {
        background: $headerFooterBackground;
        color: $headerFontColor;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            display: inline;

            &.mobile-menu-button {
                display: inline;
                font-size: 2rem;
                padding: 0 1rem;
                cursor: pointer;
            }
            span, a {
                display: inline-block;
                color: $primaryBG;
                cursor: pointer;
                text-decoration: none;
                padding: .5rem .75rem;
                font-size: .8rem;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                margin: .25rem .125rem 0 0;

                &:hover {
                    background: $primaryBGHover;
                    color: $primaryTextColor;
                }

                &.current {
                    background: $primaryBG;
                    color: $headerFooterBackground;

                    color: $primaryTextColor;
                }
            }
            &:first-child {
                a {
                    border-left: 0;
                }
            }
            &.logo {
                float: right;
                a {
                    border: 0;
                    margin: 0;
                    &:hover {
                        background-color: $bodyBackground;
                    }
                }
            }
        }
        border-bottom: solid 2px $primaryBG;
        margin: 0 0 1rem 0;
    }

}
.mobile-menu {
    ul {
        li {
            a {
                border: solid 1px $primaryBG;
                padding: .5rem 1rem;
                display: block;
                margin: 0 0 .5rem 0;
                border-radius: .5rem;
                &.current {

                    color: $headerFooterBackground;
                    background: $primaryBG;
                    color: $primaryTextColor;
                }

            }
        }
    }
}

body.desaturated {
    .mobile-menu,
    .topmenu {
        ul {
            li {
                a {
                    color: $desaturatedPrimaryBG;
                    &.current {
                        background: $desaturatedPrimaryBG;
                        color: $desaturatedPrimaryTextColor;
                    }
                    &:hover {
                        background: $desaturatedPrimaryBGHover;
                        color: $desaturatedPrimaryTextColor;
                    }
                }
            }
        }
    }
    .topmenu {
        ul {
            border-bottom: solid 2px $desaturatedPrimaryBG;
        }
    }
}

body.retro {
    .mobile-menu,
    .topmenu {
        ul {
            li {
                a {
                    color: $retroPrimaryBG;
                    &.current {
                        background: $retroPrimaryBG;
                        color: $retroPrimaryTextColor;
                    }
                    &:hover {
                        background: $retroPrimaryBGHover;
                        color: $retroPrimaryTextColor;
                    }
                }
            }
        }
    }
    .topmenu {
        ul {
            border-bottom: solid 2px $retroPrimaryBG;
        }
    }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//     .topmenu {
//         ul {
//             li {
//                 a {
//                     font-size: .8rem;
//                 }
//             }
//         }
//     }
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .topmenu {
        ul {
            li {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
}