@import "../../common.scss";
.text-section {
    // border-top-left-radius: .5rem;
    // border-top-right-radius: .5rem;
    border-radius: .5rem;
    margin: 0 0 1rem 0;
    overflow: hidden;
    border: solid 2px $primaryBG;
    h2 {
        background: $headerFooterBackground;
        color: $headerFontColor;
        border-bottom: solid 2px $primaryBG;
        margin: 0 0 1rem 0;
        padding: 0 1rem .125rem 1rem;
    }
    .section-content {
        padding: 0 1rem;
    }
}