<div ng-include="'pages/global-header.html'"></div>

<div ng-show="pleaseWait" class="please-wait">
	<div translate="AS_PLEASE_WAIT">Please wait while information is retrieved from the master unit list.</div>
</div>
<div  ng-show="viewingMech != null">
	<fieldset class="fieldset">
					<legend translate="AS_UNIT_CUSTOMIZATION">Unit Customization</legend>

	<div class="row">
		<div class="columns small-5">
			<label ng-show="viewingLance">
				<span translate="AS_CUSTOM_UNIT_NAME">Custom Unit Name</span>
				<input type="text" style="width: 100%" placeholder="{{ 'AS_CUSTOM_UNIT_NAME' | translate }}" ng-model="viewingMech.customName" ng-keyup="saveToLS()" />
			</label>
		</div>
		<div class="columns small-3">
			<label ng-show="viewingLance">
				<span translate="GENERAL_SKILL_LEVEL">Skill</span>
				<select ng-change="changeSkillValues(viewingMech.currentSkillString)" ng-model="viewingMech.currentSkillString">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
			</label>
		</div>
		<div class="columns small-4 text-right">
				<button ng-click="closeViewMech()" class="button primary small" translate="GENERAL_CLOSE">Close</button>

		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
				<div id="current-mech-{{$parent.$index}}-{{$index}}" ng-bind-html="viewingMech.makeSVGAlphaStrikeCard(false, 'current-mech-' + $parent.$index + '-' + $index) | to_trusted"></div>

<!--
			<div ng-include="'pages/as-card.html'"></div>
-->
		</div>
	</div>
	</fieldset>
</div>
<div class="row" ng-show="viewingMech == null">
	<div class="columns medium-4">
		<fieldset class="fieldset">
			<legend translate="GENERAL_SEARCH">Search</legend>
			<input autocomplete="off" autocorrect="off" placeholder="Search for Unit Name" autocapitalize="off" ng-keyup="searchOnEnter($event)" spellcheck="false" type="text" value="battle" ng-model="currentSearch" />
			<div class="row">
				<div class="columns small-6">
					<h4 class="text-center" translate="GENERAL_RULES">Rules</h4>

					<label><input name="rulesFilter" ng-click="setRulesFilter('Introductory')" type="radio" ng-model="rulesFilter" ng-checked="rulesFilter == 'Introductory'" value="" /> <span translate="GENERAL_INTRODUCTORY">Introductory</span></label>
					<label><input name="rulesFilter" ng-click="setRulesFilter('Standard')" type="radio" ng-model="rulesFilter" ng-checked="rulesFilter == 'Standard'" value="" /> <span translate="GENERAL_STANDARD">Standard</span></label>
					<label><input name="rulesFilter" ng-click="setRulesFilter('Advanced')" type="radio" ng-model="rulesFilter" ng-checked="rulesFilter == 'Advanced'" value="" /> <span translate="GENERAL_ADVANCED">Advanced</span></label>
					<label><input name="rulesFilter" ng-click="setRulesFilter('all')" type="radio" ng-model="rulesFilter" ng-checked="rulesFilter == 'all'" value="" /> <span translate="GENERAL_ALL">All</span></label>
				</div>
				<div class="columns small-6">
					<h4 class="text-center" translate="GENERAL_TECH">Tech</h4>

					<label><input name="techFilter" ng-click="setTechFilter('Inner Sphere')" type="radio" ng-model="techFilter" ng-checked="techFilter == 'Inner Sphere'" value="" /> <span translate="GENERAL_INNER_SPHERE">Inner Sphere</span></label>
					<label><input name="techFilter" ng-click="setTechFilter('Clan')" type="radio" ng-model="techFilter" ng-checked="techFilter == 'Clan'" value="" /> <span translate="GENERAL_CLAN">Clan</span></label>

					<label><input name="techFilter" ng-click="setTechFilter('all')" type="radio" ng-model="techFilter" ng-checked="techFilter == 'all'" value="" /> <span translate="GENERAL_ALL">All</span></label>
				</div>
			</div>
			<button ng-disabled="currentSearch.length < 3" class="button expanded primary small radius" ng-click="updateMULList()" translate="GENERAL_SEARCH">Search</button>
		</fieldset>

	<div class="show-for-small hide-for-medium hide-for-large columns medium-8">
		<fieldset class="fieldset">
			<legend translate="GENERAL_SEARCH_RESULTS">Search Results</legend>
				<div class="float-right">
					<label><span translate="AS_ADD_TO_GROUP">Add To Group</span>:&nbsp;
						<select style="display: inline-block;width: auto;paddin" ng-options="item as item.label for item in addToOptions track by item.id" ng-model="addToGroup"></select></select>
					</label>
				</div>
				<div class="text-center"><span translate="AS_RESULTS_PROVIDED_BY_MUL">Search results provided by the Master Unit List</span><br /><a href="http://masterunitlist.info" target="_blank">masterunitlist.info</a></div>
				<table class="equipment-list">
					<thead>
						<tr>
							<th translate="GENERAL_NAME">Name</th>
							<th translate="GENERAL_RULES">Rules</th>
							<th translate="GENERAL_TECH">Tech</th>
							<th translate="GENERAL_POINTS">Points</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, mulObject) in foundMULItems.Units">
							<td><button ng-click="viewSearchMech($index)" class="button secondary tiny radius"><i class="fa fa-search"></i></button> {{mulObject["Name"]}}
							</td>
							<td>{{mulObject["Rules"]}}</td>
							<td>{{mulObject["Technology"].Name}}</td>
							<td>{{mulObject["BFPointValue"]}}</td>
							<td><button ng-click="addToLance($index)" class="button primary tiny" title="{{ 'AS_ADD_TO_SELECTED_GROUP_NOTED_IN_DROPDOWN'|translate }}"><i class="fa fa-plus"></i></button></td>
						</tr>
					</tbody>
					<div class="text-center" ng-show="foundMULItems.Units.length == 0" translate="AS_SEARCH_NO_MATCHES">Sorry, there are no matches with those parameters.</div>
				</table>
			</div>
		</fieldset>

		<fieldset class="fieldset" ng-show="favoriteGroups.length > 0">
			<legend><span translate="AS_FAVORITE_GROUPS">Favorite Groups</span></legend>
				<div ng-repeat="(favIndex, favGroup) in favoriteGroups track by $index">

					<button class="margin-left small pull-right button primary" ng-click="addFavoriteGroup($index);"><i class="fa fa-plus"></i></button>
					<button class="margin-left small pull-right button primary" ng-click="removeFromFavorites($index);"><i class="fa fa-trash"></i></button>

					<h4>{{favGroup.customName}}</h4>
						<table class="equipment-list">
							<thead>
								<tr>
									<th translate="GENERAL_NAME">Name</th>
									<th translate="GENERAL_SKILL">Skill</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, mulObject) in favGroup.members">
									<td>
										<span ng-show="mulObject.customName != ''"><strong>{{mulObject.customName}}</strong><br /></span>
										{{mulObject.name}}<br />

									</td>
									<td>{{mulObject.currentSkill}}</td>
									<td class="text-right">
										<button class="tiny button primary" ng-click="addFavoriteUnit( favIndex, key );" title="{{ 'AS_ADD_TO_SELECTED_GROUP_NOTED_IN_DROPDOWN'|translate }}"><i class="fa fa-plus"></i></button>

									</td>
								</tr>
							</tbody>
							<div class="text-center" ng-show="foundMULItems.Units.length == 0" translate="AS_SEARCH_NO_MATCHES">Sorry, there are no matches with those parameters.</div>
						</table>
						<hr />
				</div>
		</fieldset>

		<fieldset class="fieldset">
			<legend><span translate="AS_CURRENT_FORCE">Current Force</span></legend>


		<div ng-repeat="currentLance in currentLances track by $index">
			<fieldset class="fieldset">
				<legend><a ng-click="addGroupToFavorites($index)" title="{{ 'AS_ADD_TO_FAVORITES'|translate }}"><i class="fa fa-heart"></i></a> <span translate="GENERAL_GROUP">Group</span> {{$index +1 }}</legend>
				<button class="button primary tiny pull-right" ng-click="removeGroup($index)" ng-show="currentLances.length > 1"><i class="fa fa-trash"></i></button>

				<input type="text" style="display: block;width:80%;" placeholder="{{ 'AS_CUSTOM_GROUP_NAME' | translate }}" ng-model="currentLance.customName" ng-keyup="saveToLS()" />
				<table class="equipment-list">
					<thead>
						<tr>
							<th translate="GENERAL_NAME">Name</th>
							<th translate="GENERAL_POINTS">Points</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<div style="position: relative;overflow: hidden">
							<tr style="position: relative" ng-repeat="mulObject in currentLance.members">
								<td>

									<div ng-show="mulObject.customName"><strong>{{mulObject.customName}}</strong></div>
									{{mulObject.name}}<br />

								</td>
								<td>{{mulObject.currentPoints}}</td>
								<td class="no-wrap-whitespace">

									<button ng-click="viewMech(currentLance, $index)" class="button primary tiny radius"><i class="fa fa-edit"></i></button>

									<button ng-click="removefFromLance(currentLance, $index)" class="button primary tiny radius"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						</div>
					</tbody>
				</table>
				<div class="text-center" ng-show="currentLance.members.length == 0" translate="AS_GROUP_EMPTY">This group is empty.</div>

				<div class="text-right">
					<strong><span translate="AS_GROUP_NUM_UNITS">Group # Units</span></strong>:
					{{currentLance.members.length}}<br />
					<strong><span translate="AS_GROUP_POINTS">Group Points</span></strong>:
					{{currentLance.groupPoints}}<br />
				</div>
			</fieldset>
		</div>

		<div>
			<a class="button primary expanded" ng-click="newGroup()" translate="AS_ADD_NEW_GROUP">Add New Group</a>

			<div class="text-right">
				<strong><span translate="AS_TOTAL_GROUPS">Total Groups</span></strong>: {{totalGroups}}<br />
				<strong><span translate="AS_TOTAL_UNITS">Total Units</span></strong>: {{totalCount}}<br />
				<strong><span translate="AS_TOTAL_POINTS">Total Points</span></strong>: {{forceTotalPoints}}<br />
			</div>
		</div>

		</fieldset>
	</div>

	<div class="show-for-medium columns medium-8">
		<fieldset class="fieldset">
			<legend translate="GENERAL_SEARCH_RESULTS">Search Results</legend>
			<div class="float-right">
				<label><span translate="AS_ADD_TO_GROUP">Add To Group</span>:&nbsp;
					<select style="display: inline-block;width: auto" ng-options="item as item.label for item in addToOptions track by item.id" ng-model="addToGroup"></select></select>
				</label>
			</div>
			<div class="text-center"><span translate="AS_RESULTS_PROVIDED_BY_MUL">Search results provided by the Master Unit List</span><br /><a href="http://masterunitlist.info" target="_blank">masterunitlist.info</a></div>

			<table class="equipment-list">
				<thead>
					<tr>
						<th translate="GENERAL_NAME">Name</th>
						<th translate="GENERAL_RULES">Rules</th>
						<th translate="GENERAL_TECH">Tech</th>
						<th translate="GENERAL_POINTS">Points</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="(key, mulObject) in foundMULItems.Units">
						<td><button ng-click="viewSearchMech($index)" class="button secondary tiny radius"><i class="fa fa-search"></i></button> {{mulObject["Name"]}}</td>
						<td>{{mulObject["Rules"]}}</td>
						<td>{{mulObject["Technology"].Name}}</td>
						<td>{{mulObject["BFPointValue"]}}</td>
						<td><button ng-click="addToLance($index)" class="button primary tiny" title="{{ 'AS_ADD_TO_SELECTED_GROUP_NOTED_IN_DROPDOWN'|translate }}"><i class="fa fa-plus"></i></button></td>

					</tr>
				</tbody>
			</table>
			<div class="text-center" ng-show="foundMULItems.Units.length == 0" translate="AS_SEARCH_NO_MATCHES">Sorry, there are no matches with those parameters.</div>
		</fieldset>
	</div>
</div>
