<!--
<div class="landscape-view-please">
	Please rotate your device to your landscape position
</div>
-->

<div class="row sticky-top">
	<div class="columns medium-12">
		<a href="#/as/" class="pull-left"><h3 class="no-margins"><i class="fa fa-arrow-left"></i></h3></a>&nbsp;
		<button ng-class="{primary:$index == viewingLance,secondary:$index != viewingLance}" ng-click="changePage($index);" ng-repeat="currentLance in currentLances track by $index" class="button margin-left-1vw">
			<span ng-show="currentLance.customName">{{currentLance.customName}}{{currentLance.membersLabel}}</span>
			<span ng-hide="currentLance.customName">Group {{$index +1 }}{{currentLance.membersLabel}}</span>
		</button>

		<a href="#/as/play-view/" class="pull-right"><h3 class="no-margins"><i class="fa fa-reorder"></i></h3></a>
	</div>
</div>
<div class="top-bar-padding">
</div>

<div ng-repeat="currentLance in currentLances track by $index" ng-show="$index == viewingLance" class="row">
	<div ng-repeat="viewingMech in currentLance.members" >
		<div class="columns small-12 medium-6">
			<div class="svg-as-container">
				<div id="current-mech-{{$parent.$index}}-{{$index}}" ng-bind-html="viewingMech.makeSVGAlphaStrikeCard(true, 'current-mech-' + $parent.$index + '-' + $index) | to_trusted"></div>
				<div ng-show="viewingMech.showDamageBar" class="damage-select">
						<h4 translate="AS_SELECT_DAMAGE_TAKEN">Select damage  taken</h4>
						<button ng-click="takeDamage(viewingMech, 0);" class="button tiny primary no-bottom-margin" translate="GENERAL_CANCEL"> Cancel </button>

						<button ng-click="takeDamage(viewingMech, 1);" class="button tiny secondary no-bottom-margin"> 1 </button>
						<button ng-click="takeDamage(viewingMech, 2);" class="button tiny secondary no-bottom-margin"> 2 </button>
						<button ng-click="takeDamage(viewingMech, 3);" class="button tiny secondary no-bottom-margin"> 3 </button>
						<button ng-click="takeDamage(viewingMech, 4);" class="button tiny secondary no-bottom-margin"> 4 </button>
						<button ng-click="takeDamage(viewingMech, 5);" class="button tiny secondary no-bottom-margin"> 5 </button>
						<button ng-click="takeDamage(viewingMech, 6);" class="button tiny secondary no-bottom-margin"> 6 </button>
						<button ng-click="takeDamage(viewingMech, 7);" class="button tiny secondary no-bottom-margin"> 7 </button>
						<button ng-click="takeDamage(viewingMech, 8);" class="button tiny secondary no-bottom-margin"> 8 </button>
						<button ng-click="takeDamage(viewingMech, 9);" class="button tiny secondary no-bottom-margin"> 9 </button>
						<button ng-click="takeDamage(viewingMech, 10);" class="button tiny secondary no-bottom-margin"> 10 </button>
				</div>
			</div>
		</div>

	</div>

</div>
