<div class="landscape-view-please">
	Please rotate your device to your landscape position
</div>

<div class="row sticky-top">
	<div class="columns medium-12">
		<a href="#/as/" class="pull-left"><h2><i class="fa fa-arrow-left"></i></h2></a>
		<button ng-class="{primary:$index == viewingLance,secondary:$index != viewingLance}" ng-click="changePage($index);" ng-repeat="currentLance in currentLances track by $index" class="button margin-left-1vw">
			<span ng-show="currentLance.customName">{{currentLance.customName}}{{currentLance.membersLabel}}</span>
			<span ng-hide="currentLance.customName">Group {{$index +1 }}{{currentLance.membersLabel}}</span>
		</button>
	</div>
</div>
<div class="top-bar-padding">
</div>
<div ng-repeat="currentLance in currentLances track by $index" ng-show="$index == viewingLance" class="row">
	<div ng-repeat="viewingMech in currentLance.members" class="row">
		<div class="columns medium-12">
			<div ng-include="'pages/as-card.html'"></div>
			<hr />
		</div>

	</div>
</div>
