<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/dialogs.html'"></div>
<div class="row">
	<div class="column small-12 medium-3 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>
	<div class="column small-12 medium-9 large-10">
		<div class="worksheet-area">
			<fieldset class="fieldset">
				<legend ng-bind-html="h3_title">Welcome to the Battletech Creator Page!</legend>
				<div translate="BM_INTRO_TEXT"></div>

				<div class="row">
					<div class="column small-12 medium-6">
						<button ng-click="clearMech()" class="primary button expanded">
							<i class="fa fa-file-o"></i> <span translate="BM_WELCOME_CLEAR_MECH">Clear Current 'Mech</span>
						</button>
					</div>
					<div class="column small-12 medium-6">
						<button ng-click="saveDialog()" class="primary button expanded">
							<i class="fa fa-save"></i> <span translate="BM_WELCOME_SAVE_MECH">Save Current 'Mech</span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="column small-12 medium-6">
						<button ng-click="importJSONDialog()" class="primary button expanded">
							<i class="fa fa-upload"></i> <span translate="BM_WELCOME_IMPORT_JSON">Import JSON</span>
						</button>
					</div>
					<div class="column small-12 medium-6">
						<button ng-click="loadDialog()" class="primary button expanded">
							<i class="fa fa-upload"></i> <span translate="BM_WELCOME_LOAD_MECH">Load 'Mech</span>
						</button>
					</div>
				</div>


				<a class="button primary radius next-button" href="#/battlemech-creator/step1/"><span translate="BM_NEXT_STEP">Next Step</span> <i class="fa fa-arrow-right"></i></a>
			</fieldset>
		</div>
	</div>
</div>
