<div class="row">
	<div class="column small-12 medium-4 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>
	<div class="column small-12 medium-8 large-10">
		<div class="row">
			<div class="column small-12">
				<div class="mech-status-bar" ng-bind-html="mech_status_bar"></div>
			</div>
		</div>
		<div class="row">
			<div class="column medium-12 large-8">
				<h3 ng-bind-html="h3_title">Step 2</h3>
				<p class="dev-note">I'll add options for XL engines, etc later. Everything here works like butter.</p>
				<label>
					<span translate="BM_STEP2_WALKING_MP">Walking mp</span>:
					<select ng-change="update_mech_walking()" ng-options="option.name for option in mech_walking.availableOptions track by option.id" ng-model="mech_walking.selectedOption">
					</select>
				</label>

				<label>
					<span translate="BM_STEP2_JUMPING_MP">Jumping mp</span>:
					<select ng-change="update_mech_jumping()" ng-options="option.name for option in mech_jumping.availableOptions track by option.id" ng-model="mech_jumping.selectedOption">
					</select>
				</label>

				<a class="button primary radius previous-button" href="#/battlemech-creator-step1/" translate="BM_PREVIOUS_STEP">Last Step</a>
				<a class="button primary radius next-button" href="#/battlemech-creator-step3/" translate="BM_NEXT_STEP">Next Step</a>
			</div>

			<div class="column show-for-large large-4">
				<div ng-bind-html="mech_summary_html"></div>
			</div>

		</div>
	</div>
</div>