<div ng-include="'pages/global-header.html'"></div>
<div class="row">
	<div class="column small-12 medium-3 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>
	<div class="column small-12 medium-9 large-10">
		<div class="worksheet-area">
			<fieldset class="fieldset">
				<legend ng-bind-html="h3_title">Summary Page!</legend>
				<div class="row">
					<div class="column small-12 ">

						<div class="dev-note">
							<strong>TODO:</strong> I need to calculate and document the calculations for BV and AS value, obviously.
							 The TRO should be spot on (with the exception of the aformentioned values).
						</div>
					</div>
				</div>

				<div class="row">
					<div class="column small-12 medium-6 large-6">
						<h4 class="text-center" translate="BM_SUMMARY_TRO">TRO</h4>
						<div class="summary-block" ng-bind-html="mech_tro"></div>
					</div>
					<div class="column small-12 medium-6">
						<h4 class="text-center" class="GENERAL_RECORD_SHEETS">Record Sheets</h4>
						<img id="recordSheetImage" width="100%" src='{{current_mech.makeSVGRecordSheet(false) | svg_to_dataurl}}' />
						<div class="row">
							<div class="column small-3 text-center ">
								<button class="button secondary tiny" ng-click="saveRSPNG()">PNG</button>
							</div>
							<div class="column small-3 text-center ">
								<button ng-click="saveRSJPG()" class="button secondary tiny">JPG</button>
							</div>
							<div class="column small-3 text-center ">
								<div ng-show="iosRSLink != ''">
									<a href="{{iosRSLink}}" target="_blank"><button class="button secondary tiny" >PDF</button></a>
								</div>
								<div ng-hide="isIOSStandAlone == true">
									<button class="button secondary tiny" ng-click="saveRSPDF()">PDF</button>
								</div>
							</div>
							<div class="column small-3 text-center">
								<a download="{{current_mech.getName()}} Record Sheet.svg" href='{{current_mech.makeSVGRecordSheet(false) | svg_to_dataurl | to_trusted}}'><button class="button primary tiny">SVG</button></a>
							</div>
						</div>
						<br />
						<img id="asSheetImage" width="100%" src='{{current_mech.makeSVGAlphaStrikeCard(false) | svg_to_dataurl}}' />
						<div class="row">
							<div class="column small-3 text-center ">
								<button ng-click="saveASPNG()" class="button secondary tiny">PNG</button>
							</div>
							<div class="column small-3 text-center ">
								<button ng-click="saveASJPG()" class="button secondary tiny">JPG</button>
							</div>
							<div class="column small-3 text-center ">
								<div ng-show="iosASLink != ''">
									<a href="{{iosASLink}}" target="_blank"><button class="button secondary tiny" >PDF</button></a>
								</div>
								<div ng-hide="isIOSStandAlone == true">
									<button class="button secondary tiny" ng-click="saveASPDF()">PDF</button>
								</div>
							</div>
							<div class="column small-3 text-center">
								<a download="{{current_mech.getName()}} Alpha Strike Card.svg" href='{{current_mech.makeSVGAlphaStrikeCard(false) | svg_to_dataurl | to_trusted}}'><button class="button primary tiny">SVG</button></a>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="text-center" class="column small-12">
						<h2 translate="GENERAL_CALCULATIONS">Calculations</h2>
					</div>
				</div>
				<div class="row">

					<div class="column small-12 medium-12 large-4">
						<h4 class="text-center" translate="BM_SUMMARY_BV_CALC">Battle Value Math</h4>
						<div class="summary-block" ng-bind-html="mech_bv_calc"></div>
					</div>
					<div class="column small-12 medium-12 large-4">
						<h4 class="text-center" translate="BM_SUMMARY_AS_CALC">Alpha Strike Math</h4>
						<div class="summary-block" ng-bind-html="mech_as_calc"></div>
					</div>
					<div class="column small-12 medium-12 large-4">
						<h4 class="text-center" translate="BM_SUMMARY_CBILL_CALC">CBill Cost Math</h4>
						<div class="summary-block" ng-bind-html="mech_cbill_calc"></div>
					</div>
				</div>

				<a class="button primary radius previous-button" href="#/battlemech-creator/step6/"><i class="fa fa-arrow-left"></i> <span translate="BM_PREVIOUS_STEP">Last Step</span></a>
				<a class="button primary radius next-button" href="#/battlemech-creator/exports/"><span translate="BM_EXPORTS">Exporting</span> <i class="fa fa-arrow-right"></i></a>
			</fieldset>
		</div>
	</div>
</div>
