<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/battlemech-mech-status-bar.html'"></div>
<div class="row">
	<div class="column small-12 medium-3 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>

	<div class="column small-12 medium-9 large-10">
		<div class="worksheet-area">
			<fieldset class="fieldset">
				<legend ng-bind-html="h3_title">Step 5</legend>
			<div class="row">
				<div class="column small-12">

					<div class="dev-note">
						This section's functionality should be <strong>complete</strong> for now. (yay)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column medium-12 large-6">

					<fieldset class="fieldset">

						<legend translate="BM_STEP5_AVAILABLE_EQUIPMENT">Available Equipment</legend>
						<div class="text-right">
							<label>
								<input type="text" ng-model="filterEquipmentTerm" ng-keyup="filterEquipment( filterEquipmentTerm )" placeholder="{{'GENERAL_TYPE_HERE_TO_FILTER' | translate}}" />
							</label>
						</div>
						<table class="equipment-list">
							<thead>
								<tr>
									<th translate="BM_STEP5_ITEM_NAME">Name</th>
									<th width="1%" style="padding: 0 2px" translate="BM_STEP5_ITEM_SPACE">Space</th>
									<th width="1%" style="padding: 0 2px" translate="BM_STEP5_ITEM_WEIGHT">Weight</th>
									<th width="1%">&nbsp;</th>
								</tr>
							</thead>
							<tbody ng-hide="filterEquipmentTerm.trim().length > 2" ng-repeat="category in category_list">
								<tr class="" ></tr>

									<td colspan=4">
										<button ng-click="setCategory(category.local_category)" class="button expanded tiny" ng-class="{primary:selectedEquipmentCategory == category.local_category,secondary:selectedEquipmentCategory != category.local_category }">{{category.local_category}}</button>
									</td>
								</tr>

								<tr ng-repeat="item in equipment_table | filter:{local_category: category.local_category}" class="" ng-class="{'grayed-out':item.isInSelectedEra == false,'hide':(item.isInSelectedEra == false && mechIsStrict) || item.isAvailableAmmoType == false}">
									<td>{{item.local_name}}</td>
									<td>{{item.local_space}}</td>
									<td>{{item.weight}}</td>
									<td><button ng-click="addItem($index)" class="button expanded radius tiny primary"><span translate="BM_STEP5_ADD">Add</span></button></td>
								</tr>
								<tr ng-hide="equipment_table.length">
									<td colspan="4" class="text-center">
										<span translate="BM_STEP5_NO_ITEMS_IN_CATEGORY">No Items</span>
									</td>
								</tr>
							</tbody>

							<tbody ng-show="filterEquipmentTerm.trim().length > 2">

								<tr ng-repeat="item in equipment_table" class="" ng-class="{'grayed-out':item.isInSelectedEra == false,'hide':item.isInSelectedEra == false && mechIsStrict}">
									<td>{{item.local_name}}</td>
									<td>{{item.local_space}}</td>
									<td>{{item.weight}}</td>
									<td><button ng-click="addItem($index)" class="button expanded radius tiny primary"><span translate="BM_STEP5_ADD">Add</span></button></td>
								</tr>
								<tr ng-hide="equipment_table.length">
									<td colspan="4" class="text-center">
										<span translate="AS_SEARCH_NO_MATCHES">No Results</span>
									</td>
								</tr>
							</tbody>

						</table>
					</fieldset>

				</div>
				<div class="column medium-12 large-6">
					<fieldset class="fieldset">
						<legend translate="BM_STEP5_INSTALLED_EQUIPMENT">Installed Equipment</legend>
						<div ng-show="installed_equipment_table.length == 0"><span translate="BM_STEP5_NO_EQUIPMENT_INSTALLED">None installed</span></div>
						<div ng-show="installed_equipment_table.length > 0">
							<table class="equipment-list">
								<thead>
									<tr>
										<th translate="BM_STEP5_ITEM_NAME">Name</th>
										<th width="1%" style="padding: 0 2px" translate="BM_STEP5_ITEM_WEIGHT">Weight</th>
										<th width="1%" style="padding: 0 2px" translate="BM_STEP5_ITEM_REAR">Rear?</th>
										<th width="1%" style="padding: 0 2px" >&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in installed_equipment_table" class="">
										<td>{{item.local_name}}</td>
										<td class="text-center">{{item.weight}}</td>
										<td class="text-center">
											<input type="checkbox" ng-checked="item.rear" ng-click="setRear($index, item.rear)" />
										</td>
										<td class="text-right"><button ng-click="removeItem($index)" class="button expanded radius tiny primary"><span translate="BM_STEP5_REMOVE">Remove</span></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>


				</div>
			</div>
					<a class="button primary radius previous-button" href="#/battlemech-creator/step4/"><i class="fa fa-arrow-left"></i> <span translate="BM_PREVIOUS_STEP">Last Step</span></a>
					<a class="button primary radius next-button" href="#/battlemech-creator/step6/"><span translate="BM_NEXT_STEP">Next Step</span> <i class="fa fa-arrow-right"></i></a>
			</fieldset>
		</div>
	</div>

</div>
