<header class="sticky-top">
	<div class="row">




		<div class="columns small-6 medium-3 text-left main-menu">

		<a ng-show="isInDebugMode == true" href="./debug.html#/battlemech-creator/summary/" class="pull-left"><h3 class="no-margins"><i class="fa fa-arrow-left"></i></h3></a>&nbsp;
		<a ng-show="isInDebugMode == false" href="./#/battlemech-creator/summary/" class="pull-left"><h3 class="no-margins"><i class="fa fa-arrow-left"></i></h3></a>&nbsp;
			<button ng-class="{primary:$index == viewingLance,secondary:$index != viewingLance}" ng-click="changePage($index);" ng-repeat="currentLance in currentLances track by $index" class="button margin-left-1vw">
				<span ng-show="currentLance.customName">{{currentLance.customName}}{{currentLance.membersLabel}}</span>
				<span ng-hide="currentLance.customName">Group {{$index +1 }}{{currentLance.membersLabel}}</span>
			</button>
		</div>
		<div class="text-center columns small-6 medium-6 text-left app-menu">

			<a class="margin-left-1vw no-bottom-margin button primary expanded radius small" href="javascript:window.print()" translate="GENERAL_PRINT">Print</a>

		</div>
		<div class="text-right columns hide-for-small show-for-medium medium-3 text-left app-menu">

			<a  title="{{'GENERAL_CLICK_GO_TO_OFFICAL_BG' | translate}}" target="_blank" href="http://battletech.com">
				<span ng-bind-html="svgBattleTechLogo | to_trusted"></span>
			</a>

		</div>

	</div>
	<div class="row">
		<div class="columns small-12 text-center">
			<span style="font-size: .6rem" translate="GENERAL_TURN_OFF_PRINT_HEAD_FOOT"></span>
		</div>
	</div>
</header>


<div ng-hide="textItem != ''" class="roster-image" ng-bind-html="svgItem | to_trusted"></div>
<div class="row" ng-show="textItem != ''">
	<div class="column small-12">
		<span ng-bind-html="textItem"></span>
	</div>
</div>
