<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/battlemech-mech-status-bar.html'"></div>
<div class="row">
	<div class="column small-12 medium-4 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>


	<div class="column small-12 medium-8 large-10">

		<div class="worksheet-area">
			<fieldset class="fieldset">
				<legend ng-bind-html="h3_title">Step 6</legend>
			<div class="row">
				<div class="column small-12 medium-12 large-12">

					<div class="dev-note">
						<p><strong>NOTE</strong>: Currently a work in progress. However, this DOES work. There still are some UI annoyances, but if you hold your tongue right allocation works and is persistent!</p>
						<p><strike>I am aware of the slightly altnernate layout for Quads. I hope to have this layout done soon. (got the backend done, halfway there)</strike> This should be complete now :)</p>
						<p><strong>Update Mar 3, 2016:</strong> I've started work on the drag and drop validation function. Slowly this should not allow you to put things in the wrong places or "lose them" when putting "over" multi-sized items. This is a slow process (I think the Drag and Drop library I'm using may have a bug when moving items twice before a page reload, but I'm not going to point fingers until I test *my* code more). At least I now have it so that you can't assign jump jets to arms or head anymore</p>
						<p><strong>Update Feb 7, 2017:</strong> After a long perioid of inactivity due to other priorities I'm on this again. I'll be removing the drag and drop functionality because Windows Touch
						Devices, Android Devices and iOS Devices just don't mesh very well with web-standard drag and dropping. I'd rather drop the drag and drop code than have 2-3 codebases or exceptions.
						I plan on addressing this within the week.<br />
						<br />
						I've done two other projects since working on this one in angular, so work on this shouldn't be as slow as before if/when I have time to work on it.</p>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="column medium-12">
					<fieldset class="fieldset">
						<legend translate="BM_STEP6_INSTRUCTIONS">Instructions</legend>
						<p translate="BM_STEP6_INSTRUCTIONS_TEXT"></p>
					</fieldset>
					<p class="text-center" ng-show="selectedItem == null" translate="BM_STEP6_SELECT_AN_ITEM_TO_ALLOCATE"></p>
					<p class="text-center" ng-show="selectedItem != null" translate="BM_STEP6_SELECT_AN_PLACE_TO_ALLOCATE"></p>
				</div>
			</div>
			<div class="row">
				<div class="column medium-12 large-4">
					<fieldset class="fieldset">
						<legend translate="BM_STEP6_UNALLOCATED_EQUIPMENT">Unallocated Equipment</legend>

						<ul class="critical-assignment-container">
							<li ng-class="{selectedItem:assignment == selectedItem.item}" ng-click="step6ItemClick(assignment, $index, 'un')"  class="critical-height-{{assignment.crits}}" ng-repeat="assignment in battlemech_unallocated_items" ng-include="'pages/battlemech-creator-step6-unallocated-item.html'">
							</li>
						</ul>

						<div class="row">
							<div class="column large-12">
								<button class="button radius small primary expanded " ng-click="resetAllocations()" translate="BM_STEP6_RESET_ALLOCATIONS">Reset Allocations</button>
							</div>
						</div>
					</fieldset>

				</div>
				<div class="column large-8">
					<fieldset class="fieldset">

						<legend translate="BM_STEP6_CRITICAL_TABLE">Critical Table</legend>
						<div class="row">
							<div class="column small-4">
								<h5 ng-bind="label_left_arm">Left Arm</h5>

								<div ng-hide="battlemech_is_quad">
									<label><input ng-click="clickLowerLeftArmActuator()" ng-true-value="true" ng-false-value="false" checked="checked" ng-model="has_la_lower_arm_actuator" type="checkbox"> <span translate="BM_CRITS_ACTUATOR_LOWER_ARM">Lower Arm Actuator</span></label>
									<label><input ng-click="clickLeftHandActuator()" ng-true-value="true" ng-false-value="false" checked="checked" ng-model="has_la_hand_actuator" type="checkbox"> <span translate="BM_CRITS_ACTUATOR_HAND">Hand Actuator</span></label>
								</div>

								<ul class="critical-assignment-container location-la">
									<li ng-click="step6ItemClick(assignment, $index, 'la')" class="critical-height-{{assignment.crits}}" ng-repeat="assignment in battlemech_left_arm track by $index" ng-class="{'critical-placeholder': assignment.placeholder}" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

								<h5 ng-bind="label_left_torso">Left Torso</h5>
								<ul class="critical-assignment-container location-lt">
									<li ng-click="step6ItemClick(assignment, $index, 'lt')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}" ng-repeat="assignment in battlemech_left_torso track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

								<h5 ng-bind="label_left_leg">Left Leg</h5>
								<ul class="critical-assignment-container location-ll">
									<li ng-click="step6ItemClick(assignment, $index, 'll')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}" ng-repeat="assignment in battlemech_left_leg track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

							</div>
							<div class="column small-4">

								<h5 ng-bind="label_head">Head</h5>
								<ul class="critical-assignment-container location-hd">
									<li ng-click="step6ItemClick(assignment, $index, 'hd')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}"  ng-repeat="assignment in battlemech_head track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>
								<h5 ng-bind="label_center_torso">Center Torso</h5>
								<ul  class="critical-assignment-container location-ct">
									<li ng-click="step6ItemClick(assignment, $index, 'ct')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}"  ng-repeat="assignment in battlemech_center_torso track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

							</div>
							<div class="column small-4">

								<h5 ng-bind="label_right_arm">Right Arm</h5>

								<div ng-hide="battlemech_is_quad">
									<label><input ng-click="clickLowerRightArmActuator()" ng-true-value="true" ng-false-value="false" checked="checked" ng-model="has_ra_lower_arm_actuator" type="checkbox"> <span translate="BM_CRITS_ACTUATOR_LOWER_ARM">Lower Arm Actuator</span></label>
									<label><input ng-click="clickRightHandActuator()" ng-true-value="true" ng-false-value="false" checked="checked" ng-model="has_ra_hand_actuator" type="checkbox"> <span translate="BM_CRITS_ACTUATOR_HAND">Hand Actuator</span></label>
								</div>
								<ul class="critical-assignment-container location-ra">
									<li ng-click="step6ItemClick(assignment, $index, 'ra')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}" ng-repeat="assignment in battlemech_right_arm track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

								<h5 ng-bind="label_right_torso">Right Torso</h5>
								<ul class="critical-assignment-container location-rt">
									<li ng-click="step6ItemClick(assignment, $index, 'rt')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}" ng-repeat="assignment in battlemech_right_torso track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

								<h5 ng-bind="label_right_leg">Right Leg</h5>
								<ul class="critical-assignment-container location-rl">
									<li ng-click="step6ItemClick(assignment, $index, 'rl')" class="critical-height-{{assignment.crits}}" ng-class="{'critical-placeholder': assignment.placeholder}" ng-repeat="assignment in battlemech_right_leg track by $index" ng-include="'pages/battlemech-creator-step6-critical-item.html'">
									</li>
								</ul>

							</div>
						</div>
					</fieldset>
				</div>
					<a class="button primary radius next-button" href="#/battlemech-creator/summary/" translate="BM_SUMMARY">Summary</a>

					<a class="button primary radius previous-button" href="#/battlemech-creator/step5/" translate="BM_PREVIOUS_STEP">Last Step</a>
				</fieldset>
			</div>
		</div>
	</div>

</div>
