<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/battlemech-mech-status-bar.html'"></div>
<div class="row">
	<div class="column small-12 medium-4 large-2">
		<div ng-include="'pages/battlemech-creator-sidebar.html'"></div>
	</div>
	<div class="column small-12 medium-8 large-10">
		<div class="row">
			<div class="column medium-12 large-8">
				<div class="worksheet-area">
					<fieldset class="fieldset">
						<legend ng-bind-html="h3_title">Step 1</legend>
						<div class="dev-note">I don't have Clan data really set up as I'm gearing for 3039 'mechs at the moment, so ignore the Mech Tech for now (it won't hurt to switch it though)</div>
						<label>
							<span translate="BM_STEP1_MECH_NAME">Mech name</span>:
							<input type="text" ng-keyup="update_mech_name()" ng-model="mech_name" />
						</label>

						<label>
							<span translate="BM_STEP1_MECH_TECH">Mech tech</span>:
							<select ng-change="update_mech_tech()" ng-options="option.name for option in mech_tech.availableOptions track by option.id" ng-model="mech_tech.selectedOption">
							</select>
						</label>

						<label>
							<span translate="BM_STEP1_MECH_TYPE">Mech type</span>:
							<select  ng-change="update_mech_type()" ng-options="option.name for option in mech_type.availableOptions track by option.id" ng-model="mech_type.selectedOption">
							</select>
						</label>
						<label>
							<span translate="BM_STEP1_MECH_ERA">Mech era</span>:
							<select ng-change="update_mech_era()" ng-options="option.name for option in mech_era.availableOptions track by option.id" ng-model="mech_era.selectedOption">
							</select>
						</label>
						<label>
							<input type="checkbox" ng-change="update_mech_era_strict( selectedStrict )" ng-model="selectedStrict" /> <span translate="BM_STEP1_SELECTED_STRICT">Strict Selected Only</span>
						</label>
						<label>
							<span translate="BM_STEP1_MECH_TONNAGE">Mech tonnage</span>:
							<select ng-change="update_mech_tonnage()" ng-options="ton for ton in mech_tonnage_options" ng-model="mech_tonnage.selectedOption">
							</select>
						</label>

						<a class="button primary radius previous-button" href="#/battlemech-creator/" translate="BM_BACK_TO_WELCOME">Last Step</a>
						<a class="button primary radius next-button" href="#/battlemech-creator/step2/" translate="BM_NEXT_STEP">Next Step</a>
					</fieldset>
				</div>

			</div>

			<div class="column show-for-large large-4">
				<div class="mech-summary" ng-bind-html="mech_summary_html"></div>
			</div>

		</div>
	</div>
</div>
