
<div class="modal-container even-modaler" ng-show="showConfirmDialog == true">
	<div class="reveal">

	  <p class="lead" ng-bind-html="confirmDialogQuestion">Confirmation Delete</p>

	  <div class="text-right">
	  	<button class="button small secondary" ng-click="closeConfirmDialog()"  type="button" translate="GENERAL_CANCEL"></button>
	  	<button class="button small primary" ng-click="confirmDialogYes()" type="button" translate="GENERAL_YES"></button>
	  </div>
	</div>
</div>


<div class="modal-container" ng-show="saveMechDialogOpen == true">
	<div class="reveal">

	  <label>
	  	<span translate="GENERAL_SAVE_NAME">Save Name</span>: 	<input type="text" ng-keyup="updateSaveName(save_as_name)" ng-model="save_as_name">
	  </label>

	 <h4 translate="GENERAL_SAVED_ITEM_AS">Saved Items</h4>
	 <table>
		<thead>
			<tr>
				<th colspan="1">&nbsp;</th>
				<th translate="GENERAL_NAME">Name</th>
				<th translate="GENERAL_TONS">Tons</th>
				<th translate="GENERAL_TECH">Tech</th>
				<th translate="GENERAL_SAVED">Saved</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>&nbsp;</td>
				<td colspan="4">
					<label>&nbsp;<input name="save_item" type="radio" ng-click="updateSave(save_over)" ng-model="save_over" value="-1"> <span translate="GENERAL_SAVE_AS_NEW">New</span></label>
				</td>
			</tr>


	  	<tr ng-repeat="item in saved_items_mechs track by $index">

			<td><button ng-click="removeSavedItem($index)" class="button primary tiny float-right" translate="GENERAL_REMOVE">Remove</button></td>
	 		<td>
				<label>&nbsp;<input name="save_item" type="radio" ng-click="updateSave(save_over)" ng-model="save_over" value="{{$index}}"> {{item.saveName}} </label>
	 		</td>
	 		<td>{{item.tonnage}}</td>
	 		<td>{{item.localTechName}}</td>
	 		<td>{{item.savedOn | date:medium}}</td>

	 	</tr>

	 <tr ng-show="saved_items_mechs.length == 0">
	 	<td colspan="5" class="text-center" translate="GENERAL_NO_SAVED_ITEMS">You have no saved items</td>
	 </tr>
		</tbody>
	</table>

	 <div class="text-right">
		 <div ng-show="save_over > -1" translate="GENERAL_SAVE_OVER_WARNING">Import Warning</div>
	  	<button class="button small secondary" ng-click="closeSaveDialog()"  type="button" translate="GENERAL_CANCEL"></button>
	  	<button class="button small primary" ng-click="saveMech(save_over, save_as_name)" type="button" translate="GENERAL_SAVE">Save</button>
	  </div>
	</div>
</div>



<div class="modal-container" ng-show="loadMechDialogOpen == true">
	<div class="reveal">



	 <h4 translate="GENERAL_LOAD_ITEM">Load Items</h4>
	 <p class="text-center" translate="GENERAL_LOAD_WARNING"></p>
	 <table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th translate="GENERAL_NAME">Name</th>
				<th translate="GENERAL_TONS">Tons</th>
				<th translate="GENERAL_TECH">Tech</th>
				<th translate="GENERAL_SAVED">Saved</th>
			</tr>
		</thead>
		<tbody>



	  	<tr ng-repeat="item in saved_items_mechs track by $index">

			<td class="no-wrap-whitespace" style="width: 1%">
				<button ng-click="removeSavedItem($index)" class="button primary tiny" translate="GENERAL_REMOVE">Remove</button>
				<button ng-click="loadSavedItem($index)" class="button primary tiny" translate="GENERAL_LOAD">Load</button>
			</td>
	 		<td>
				{{item.saveName}}
	 		</td>
	 		<td>{{item.tonnage}}</td>
	 		<td>{{item.localTechName}}</td>
	 		<td>{{item.savedOn | date:medium}}</td>

	 	</tr>

	 <tr ng-show="saved_items_mechs.length == 0">
	 	<td colspan="5" class="text-center" translate="GENERAL_NO_SAVED_ITEMS">You have no saved items</td>
	 </tr>
		</tbody>
	</table>

	 <div class="text-right">
		 <div ng-show="save_over > -1" translate="GENERAL_SAVE_OVER_WARNING">Import Warning</div>
	  	<button class="button small secondary" ng-click="closeLoadDialog()"  type="button" translate="GENERAL_CLOSE"></button>
	  </div>
	</div>
</div>

