<div ng-include="'pages/global-header.html'"></div>

<div class="row">
	<div class="column small-12 medium-10 large-8 medium-offset-1 large-offset-2">
		<fieldset class="fieldset">
		<legend translate="GENERAL_SETTINGS">Settings</legend>
		<h5 translate="GENERAL_SELECT_LANGUAGE">Select Language</h5>
		<div ng-controller="select_language" class="tiny button-group">
			<button id="lng-btn-en-US" class="lang-button " ng-click="change_language('en-US')"><img src="images/flags/64/US.png" width="32px" /> </button>
			<button id="lng-btn-de" class="lang-button " ng-click="change_language('de-DE')"><img src="images/flags/64/DE.png" width="32px" /></button>

		</div>

		</fieldset>
	</div>
</div>
