<div ng-include="'pages/global-header.html'"></div>

<div class="row">
	<div class="column small-12 medium-10 large-8 medium-offset-1 large-offset-2">
		<fieldset class="fieldset">
			<legend translate="GENERAL_SETTINGS">Settings</legend>
			<h5 translate="GENERAL_SELECT_LANGUAGE">Select Language</h5>
			<div ng-controller="select_language" class="tiny button-group">
				<button id="lng-btn-en-US" class="lang-button " ng-click="change_language('en-US')"><img src="images/flags/64/US.png" width="32px" /> </button>
				<button id="lng-btn-de" class="lang-button " ng-click="change_language('de-DE')"><img src="images/flags/64/DE.png" width="32px" /></button>

			</div>

		</fieldset>

		<fieldset class="fieldset">
			<legend translate="SETTINGS_IMPORT_EXPORT_SETTINGS">Import/Export Data</legend>
			<p translate="SETTINGS_IMPORT_EXPORT_SETTINGS_DESC">At some point I'm sure that you'll want to move or back up your hard work. Use this function to import and export your saved items.</p>
			<h5 translate="SETTINGS_EXPORT">Import</h5>
			<p translate="SETTINGS_EXPORT_DESC">Click on the button below to download your saved 'mechs and favrorite alpha strike groups.</p>
			<div class="text-center">
				<a download="{{ExportFileName}}" ng-href="{{ downloadExportData }}"><button class="primary button" translate="SETTINGS_CLICK_TO_DOWNLOAD">Click to Download</button></a>

			</div>
			<h5 translate="SETTINGS_IMPORT">Export</h5>
			<p translate="SETTINGS_IMPORT_DESC">Browse to your backup JSON file then press the "Import" button. Warning: this will replace all your existing saved 'mechs and Alpha Strile saved groups.</p>
			<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
			<br />
			<h3 class="text-center" ng-bind-html="importMessage"></h3>
			<br />
		</fieldset>
	</div>
</div>
