			<div class="row">
				<div class="column small-10 medium-10 large-10">

					<h1><a href="#/"><img alt="BattleTech Logo" style="height: 30px" src="./images/BATTLETECH-BoardGame-Logo-Official-600px.png" class="float:left" /> </a></h1>
					<!-- <h2><span translate="APP_TITLE">@Gauthic's BattleTech Tools</span> <span ng-bind-html="subtitle_tag">Welcome</span></h2> -->
				</div>
				<div class="column small-2 medium 2 large-2 text-right">
					<div ng-controller="select_language" class="tiny button-group">
						<button id="lng-btn-en-US" class="lang-button " ng-click="change_language('en-US')"><img src="images/flags/64/US.png" width="32px" /> </button>
						<button id="lng-btn-de" class="lang-button " ng-click="change_language('de-DE')"><img src="images/flags/64/DE.png" width="32px" /></button>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 medium-12 large-12 text-center">
					<h3 translate="WELCOME_H3_CREATORS_CORE" class="text-center">BattleTech Creator Tools</h3>
				</div>
			</div>

			<div class="row">
				<div class="columns small-6 medium-3 large-2 text-center">
					<a translate="WELCOME_BUTTON_MECH_CREATOR" class="button radius expanded front-button"  href="#/battlemech-creator/">BattleMech Creator</a>
				</div>
				<div class="columns small-6 medium-9 large-10 text-center">
					( more goes here)
				</div>

			</div>
			<div class="row">
				<div class="columns small-12 medium-12 large-12 text-center">
					<h3 translate="WELCOME_H3_FORCE_BUILDERS_CORE" class="text-center">BattleTech Force Builders</h3>
				</div>
			</div>

			<div class="row">
				<div class="columns small-12 medium-12 large-12 text-center">
					( more goes here)
				</div>

			</div>