$fontSize: 14px;

$fontColor: #fdfde3;
$headerFooterBackground: #111;
$headerFontColor: #fff;
$bodyBackground: #333;

$primaryBG: #dfab2d;
$primaryBGHover: #b48a25;
$primaryTextColor: #fff;

$darkenedBG: rgba( 0, 0, 0, .25);
$darkenedGreenBG: rgba( 0, 66, 0, .25);

$secondaryBG: #fdfde3;
$secondaryBGHover: #e4e4ce;
$secondaryTextColor: #333;