@import "./common.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBackground;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui-page {
  background-color: $bodyBackground;
  width: 100%;
  color: $fontColor;

  a {
    color: $primaryBG;
    outline: none !important;
    &:hover {
      color: $primaryBGHover;
    }
  }
}

// Bootstrap overrrides
body {
  .btn-primary {
    background-color: $primaryBG;
    border-color: $primaryBG;
    &:hover {
      background-color: $primaryBGHover;
      border-color: $primaryBGHover;
    }
  }

  .btn-secondary {
    background-color: $secondaryBG;
    border-color: $secondaryBG;
    &:hover {
      background-color: $secondaryBGHover;
      border-color: $secondaryBGHover;
    }
  }
  .modal-dialog {
    .modal-header {
      .close {
        color: $primaryBG;
        text-shadow: none;
        opacity: 1;
        &:hover {
          color: $primaryBGHover;
        }
      }
    }
    .modal-content {
      background: $bodyBackground;
      border: solid 2px $primaryBG;
      color: $fontColor;
    }
  }
}