@import "./common.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBackground;
}

.mech-tro {
  background: $bodyBackground;
  color: $fontColor;
  width: 100%;

  border: none;
  font-size: 12px;
  tbody {
      border: none;
  }
  thead {
      background: transparent !important;
      border: 0 !important;
  }
  tr {
      td, th {
          margin: auto;
          padding: 0 5px 0 0;
          background: $bodyBackground;
          color: $fontColor;

      }
      th {
          vertical-align: bottom;
          font-weight: 700;
      }
      td {
          vertical-align: top;
      }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// .flex {
//   display: flex;
//   flex-flow: row;
//   .text-section {
//     width: 100%;
//     margin: .5rem;
//   }
// }
select, input, label, textarea {
  width: 100%;
  display: block;
}
input[type=checkbox] {
  width: auto;
  display: inline;
}
select,
textarea,
input[type=text],
input[type=search],
input[type=number] {
  padding: 0.125rem .5rem;
  border: solid 2px #000;
  outline: none;
  background: $colorTan;
  &:focus {
    border: solid 2px $primaryBG;
    background: #fff;
  }
}
.fieldset {
  border: solid 2px $primaryBG;
  margin: 0 0 .5rem 0;
  padding: .5rem;
  legend {
    background: $primaryBG;
    color: $primaryTextColor;
    padding: 0 .5rem;
    border-radius: .5rem;
    display: inline-block;
    width: auto;
    margin: 0 0 0 1rem;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.ui-page {
  background-color: $bodyBackground;
  width: 100%;
  color: $fontColor;
  position: relative;
  a {
    color: $primaryBG;
    outline: none !important;
    &:hover {
      color: $primaryBGHover;
    }
  }

  .width-90 {
    width: 90%;
  }

  .width-80 {
    width: 80%;
  }

  .mobile-menu {
    width: 300px;
    left: -302px;
    border-right: solid 2px $primaryBG;
    background: $headerFooterBackground;
    transition: left .5s;
    height: 100vh;
    top: 0;
    position: fixed;
    padding: 4rem 1rem;
  }

  .content {
    position: absolute;
    left: 0;
    top: 4rem;
    padding: 0 2rem;
    transition: left .5s;
    width: 100%;
  }

  &.show-mobile {
    .mobile-menu {
      left: 0;
    }
    .content {
      left: 302px;
    }
  }
  table {
    thead, tbody {
      tr {
        th, td {
          color: $fontColor;
        }
      }
    }
  }
}

.modal {
  // &.modal-lg {

  // }
  &.modal-xl {
    width: 100%;
    max-width: 100%;
    .modal-dialog {
      max-width: 95vw;
      width: 95vw;
      margin: 1rem auto;
      .modal-content {
        min-height: 95vh;
      }
    }
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}

.table {
  thead {
    background: $headerFooterBackground;
  }
  &.tighter-padding {
    tbody, thead, tfooter {
      tr {
        td, th {
          padding: .125rem .25rem;
        }
      }
    }
  }
}

.lr-padding {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}
.lr-margin {
  margin-right: .5rem !important;
  margin-left: .5rem !important;
}
.small-pt-text {
  font-size: .7rem;
}
.text-section {
  // border-top-left-radius: .5rem;
  // border-top-right-radius: .5rem;
  border-radius: .5rem;
  margin: 0 0 1rem 0;
  // overflow: hidden;
  border: solid 2px $primaryBG;
  background: $textSectionBG;
  color: $textSectionFG;
  h2 {
      background: $headerFooterBackground;
      color: $headerFontColor;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      border-bottom: solid 2px $primaryBG;
      margin: 0 0 1rem 0;
      padding: 0 1rem .125rem 1rem;
  }
  .section-content {
      padding: 0 1rem;
  }
}

// Bootstrap overrrides
body {


  .no-wrap {
    white-space: nowrap;
  }
  svg {
    max-height: 80vh;
    max-width: 90vw;
  }
  .no-right-margin {
    margin-right: 0 !important;
  }
  .no-left-margin {
    margin-left: 0 !important;
  }
  .no-top-margin {
    margin-top: 0 !important;
  }
  .no-bottom-margin {
    margin-bottom: 0 !important;
  }
  .min-width {
    width: 1%;
  }
  .drop-down-menu-container {
    position: relative;
    display: inline-block;
    .dd-menu {
      display: none;
      position: absolute;
      top: 2rem;
      left: 0;
      border: solid 1px $primaryBGHover;
      z-index: 1000;
      &.active {
        display: inline-block;
      }

      li {
        text-align: left;
        background: $textSectionBG;
        color: $primaryTextColor;
        border-bottom: solid 1px $primaryBGHover;
        cursor: pointer;
        padding: .125rem .5rem;
        &:hover {
          background-color: $primaryBG;
          color: $primaryTextColor;
          outline: none !important;

        }
      }
    }
  }
  .btn {
    outline: none !important;
    box-shadow: none !important;
    margin-right: .25rem;
    margin-left: .25rem;
    margin-bottom: .25rem;
    color: $primaryTextColor;
    &:hover {
      color: $primaryTextColor;
    }
    &.more-margin {
      margin-right: .5rem;
      margin-left: .5rem;
      margin-bottom: .5rem;
    }
    &.no-margin {
      margin: 0;
    }
  }

  .small-margins {
    margin: 0 .5rem .5rem .5rem;
  }

  .btn-primary {
    background-color: $primaryBG;
    border-color: $primaryBG;
    color: $primaryTextColor;
    &:hover {
      background-color: $primaryBGHover;
      border-color: $primaryBGHover;
      color: $primaryTextColor;
    }
    &:disabled {
      background-color: #222;
      border-color: #000;
      color: 0;
    }
    .no-margins {
      margin: 0 !important;
    }
  }

  ul.styleless {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .btn-secondary {
    background-color: $secondaryBG;
    border-color: $secondaryBG;
    color: $primaryTextColor;
    &:hover {
      background-color: $secondaryBGHover;
      border-color: $secondaryBGHover;
      color: $primaryTextColor;
    }
    &:disabled {
      background-color: #222;
      border-color: #000;
      color: 0;
    }
  }
  .modal-dialog {
    .modal-footer {
      background: $headerFooterBackground;
    }
    .modal-header {
      background: $headerFooterBackground;
      padding: .25rem 1rem;
      .close {
        color: $primaryBG;
        text-shadow: none;
        opacity: 1;
        &:hover {
          color: $primaryBGHover;
        }
      }
    }
    .modal-content {
      background: $bodyBackground;
      border: solid 2px $primaryBG;
      color: $fontColor;
      max-height: 80vh;
      svg {
        max-height: 75vh;
      }
    }
  }

  .pull-right,
  .float-right {
    float: right;
  }

  .pull-left,
  .float-left {
    float: left;
  }

  .display-block {
    display: block;
  }

  .full-width {
    width: 100%;
  }

  .alert {
    overflow: hidden;
    a {
        color: #000;
        &:hover {
            color: #333;
        }
    }

    .alert-countdown {
        position: absolute;
        top: -.5rem;
        right: 1.5rem;
        width: 90%;
        text-align: right;
        display: block;
        .alert-countdown-bar {
            display: inline-block;
            -webkit-transition: width 1s ease;
            -moz-transition: width 1s ease;
            -ms-transition: width 1s ease;
            transition: width 1s ease;
            background-color: $bodyBackground;
            height: 5px;
            width: 100%;
            &.dismiss-time-1 {
                -webkit-transition: width 1s ease;
                -moz-transition: width 1s ease;
                -ms-transition: width 1s ease;
                transition: width 1s ease;
            }
            &.dismiss-time-2 {
                -webkit-transition: width 2s ease;
                -moz-transition: width 2s ease;
                -ms-transition: width 2s ease;
                transition: width 2s ease;
            }
            &.dismiss-time-3 {
                -webkit-transition: width 3s ease;
                -moz-transition: width 3s ease;
                -ms-transition: width 3s ease;
                transition: width 3s ease;
            }
            &.dismiss-time-4 {
                -webkit-transition: width 4s ease;
                -moz-transition: width 4s ease;
                -ms-transition: width 4s ease;
                transition: width 4s ease;
            }
            &.dismiss-time-5 {
                -webkit-transition: width 5s ease;
                -moz-transition: width 5s ease;
                -ms-transition: width 5s ease;
                transition: width 5s ease;
            }
            &.dismiss-time-10 {
                -webkit-transition: width 10s ease;
                -moz-transition: width 10s ease;
                -ms-transition: width 10s ease;
                transition: width 10s ease;
            }
            &.dismiss-time-15 {
                -webkit-transition: width 15s ease;
                -moz-transition: width 15s ease;
                -ms-transition: width 15s ease;
                transition: width 15s ease;
            }
            &.dismiss-time-30 {
                -webkit-transition: width 30s ease;
                -moz-transition: width 30s ease;
                -ms-transition: width 30s ease;
                transition: width 30s ease;
            }
            &.dismiss-time-60 {
                -webkit-transition: width 60s ease;
                -moz-transition: width 60s ease;
                -ms-transition: width 60s ease;
                transition: width 60s ease;
            }
        }

    }



    p {
        color: #333;
    }
    &.alert-fade {
        -webkit-transition: height .2s ease;
        -moz-transition: height .2s ease;
        -ms-transition: height .2s ease;
        transition: height .2s ease;

        -webkit-transition: padding .2s ease;
        -moz-transition: padding .2s ease;
        -ms-transition: padding .2s ease;
        transition: padding .2s ease;

        -webkit-transition: border .2s ease;
        -moz-transition: border .2s ease;
        -ms-transition: border .2s ease;
        transition: border .2s ease;
        * {
            -webkit-transition: padding .2s ease;
            -moz-transition: padding .2s ease;
            -ms-transition: padding .2s ease;
            transition: padding .2s ease;
        }
    }
    &.fade-away {
        height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        * {
            padding-bottom: 0px !important;
        }
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
    // &.alert-out {
    //     height: 0px !important;
    // }
    &.alert-sm {
        padding: 0.45rem 1.25rem !important;
    }
  }
}